@model List<Entity.Models.YemeIcme>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTema.cshtml";
}

<head>
    <title>HOSGELDIN!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
</head>

@using (Html.BeginForm())
{
    <body class="homepage">
        <div id="page-wrapper">
            @Html.Action("AnasayfaListe", "Home")
            <div class="wrapper style2">
                <div class="title">The Details</div>
                <div id="main" class="container">

                    <!-- Image -->
                    <a href="#" class="image featured">
                        <img src="~/Content/images/index/index2.jpg" />
                    </a>

                    <!-- Features -->
                    <section id="features">
                        <header class="style1">
                            <h2>Dolor consequat feugiat amet veroeros</h2>
                            <p>Feugiat dolor nullam orci pretium phasellus justo</p>
                        </header>
                        <div class="feature-list">
                            <div class="row">

                                @foreach (var item in Model)
                                {
                                    <div class="6u 12u(mobile)">
                                        <section>
                                            <h3 class="icon fa-comment">@item.MekanAd</h3>
                                            <p>@item.MAciklama</p>
                                            <p>@item.MekanAdres</p>
                                            <p>@item.Saatler</p>
                                        </section>
                                    </div>
                                }

                            </div>
                        </div>
                        <ul class="actions actions-centered">
                            @if (Model!=null)
                            {

                                foreach (var item in Model)
                                {
                                    <li><a href="/Home/Sehirdetay/@Model.Where(x => x.SehirAd.SehirID == item.SehirAd.SehirID)" class="button style1 big">@item.SehirAd.SehirAd</a></li>

                                }
                            }

                        </ul>
                    </section>

                </div>
            </div>
        </div>
    </body>
}
