@model Entity.Models.Gezi

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Silmek istediğine emin misin?</h3>
<div>
    <h4>@Model.MekanAd</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MekanAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MekanAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MekanAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MekanAdres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResimURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResimURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saatler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saatler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAciklama)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Listeyi Gör", "Index")
        </div>
    }
</div>
